<div class="row">
  <div class="col-10 offset-1 offset-sm-0 col-sm-6 col-md-4">
    <div class="card">
      <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/2/2e/In_Rainbows_Official_Cover.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">In Rainbows</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="price">$12</div>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-10 offset-1 offset-sm-0 col-sm-6 col-md-4">
    <div class="card">
      <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/c/c5/BlackHolesCover.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Black Holes & Revelations</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="price">$12</div>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-10 offset-1 offset-sm-0 col-sm-6 col-md-4">
    <div class="card">
      <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/d/df/RedHotChiliPeppersCalifornication.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Californication</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="price">$12</div>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
